h2{
	color:rgb(225,73,0);
	font-size:40px;
	text-align:center-left;
}
#text-position {
   position: absolute;
   left:380px;
   bottom: 680px;
   text-align:center-left;
   width: 15%;
   height:3.5%;
   border-color:rgb(225,73,0);
	border-width:1px;
	border-style:solid;
	border-radius:5px;
   

}
#button {
   position: absolute;
   left:618px;
   bottom: 680px;
   height:3.5%;
   text-align: center;
   color:white;
   background-color:rgb(225,73,0);
   border-color:rgb(225,73,0);
	border-width:1px;
	border-style:solid;
	border-radius:5px;
   

}
#table{
	 background-color:rgb(225,73,0)
	
}
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid black;
}

th, td {
  text-align: center;
  padding: 16px;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}