.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
     
   }
    
   
   .header {
    color:rgb(225,73,0);
    font-size:40px;
    text-align:center-left;
   
   }
   
   
   .b {
    position:relative;
    top:16px;
    text-align:50%;
    color:white;
    background-color:rgb(225,73,0);
    border-color:rgb(225,73,0);
    border-width:1px;
    border-style:solid;
    border-radius:5px;
    width:100px;
    height:26px;
    left:2%;
    padding-bottom: 10px;
   
   }
   .text-position {
    position:relative;
    left:1%;
    top:16px;
    text-align:center-left;
    width: 15%;
    height:26px;
    border-color:rgb(225,73,0);
    border-width:1px;
    border-style:solid;
    border-radius:5px;
      }
   .s{
    position: relative;
    padding: 2px;
    top:-2px
   }
   