
   .row {
    margin-left:-5px;
    margin-right:-5px;
    width:100%;
  }
    
  .column {
    float: left;
    width: 24%;
    padding: 5px;
    margin:2px;
  }
  .k{
      width:100%;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #table{
    background-color:rgb(225,73,0);
   }
  
  
  th,td {
    text-align: center;
    padding: 16px;
    border: 1px solid #FF0000;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
