<h2>{{weather.city}}</h2>
<div id="weatherBox" class="container glass">
  <div class="row">
  <div class="col-md-3">
   
<table class="k">

  <tr id="table">
    <td colspan=2>{{weather.date}}</td>
  </tr>
  <tr>
    <td bgcolor="#A8A8A8" colspan=2 >{{weather.temperature}} &deg;C</td>
  </tr>
  <tr>
    <td bgcolor="#A8A8A8">Min</td>
    <td bgcolor="#A8A8A8">Max</td>
  </tr>
  <tr>
    <td bgcolor="#A8A8A8">{{weather.minimum}}&deg;C</td>
    <td bgcolor="#A8A8A8">{{weather.maximum}}&deg;C</td>
  </tr>
  <tr>
    <td>Pressure</td>
    <td>{{weather.pressure}}</td>
  </tr>
  <tr>
    <td>Humidity</td>
    <td>{{weather.humidity}}</td>
  </tr>
  </table>
  </div>
  <div class="col-md-3">
   
    <table class="k">
    
      <tr id="table">
        <td colspan=2>{{weather.date1}}</td>
      </tr>
      <tr>
        <td bgcolor="#A8A8A8" colspan=2 >{{weather.temperature1}} &deg;C</td>
      </tr>
      <tr>
        <td bgcolor="#A8A8A8">Min</td>
        <td bgcolor="#A8A8A8">Max</td>
      </tr>
      <tr>
        <td bgcolor="#A8A8A8">{{weather.minimum1}}&deg;C</td>
        <td bgcolor="#A8A8A8">{{weather.maximum1}}&deg;C</td>
      </tr>
      <tr>
        <td>Pressure</td>
        <td>{{weather.pressure1}}</td>
      </tr>
      <tr>
        <td>Humidity</td>
        <td>{{weather.humidity1}}</td>
      </tr>
      </table>
      </div>
      <div class="col-md-3">
   
        <table class="k">
        
          <tr id="table">
            <td colspan=2>{{weather.date2}}</td>
          </tr>
          <tr>
            <td bgcolor="#A8A8A8" colspan=2 >{{weather.temperature2}} &deg;C</td>
          </tr>
          <tr>
            <td bgcolor="#A8A8A8">Min</td>
            <td bgcolor="#A8A8A8">Max</td>
          </tr>
          <tr>
            <td bgcolor="#A8A8A8">{{weather.minimum2}}&deg;C</td>
            <td bgcolor="#A8A8A8">{{weather.maximum2}}&deg;C</td>
          </tr>
          <tr>
            <td>Pressure</td>
            <td>{{weather.pressure2}}</td>
          </tr>
          <tr>
            <td>Humidity</td>
            <td>{{weather.humidity2}}</td>
          </tr>
          </table>
          </div>

          <div class="col-md-3">
   
            <table class="k">
            
              <tr id="table">
                <td colspan=2>{{weather.date3}}</td>
              </tr>
              <tr>
                <td bgcolor="#A8A8A8" colspan=2 >{{weather.temperature3}} &deg;C</td>
              </tr>
              <tr>
                <td bgcolor="#A8A8A8">Min</td>
                <td bgcolor="#A8A8A8">Max</td>
              </tr>
              <tr>
                <td bgcolor="#A8A8A8">{{weather.minimum3}}&deg;C</td>
                <td bgcolor="#A8A8A8">{{weather.maximum3}}&deg;C</td>
              </tr>
              <tr>
                <td>Pressure</td>
                <td>{{weather.pressure3}}</td>
              </tr>
              <tr>
                <td>Humidity</td>
                <td>{{weather.humidity3}}</td>
              </tr>
              </table>
              </div>
  </div>
  </div>
