<div>
  <form>
    <h4>Register</h4>
    Username:<input type="text" [(ngModel)]="username" name="username"/><br/>
    Password:<input type="password" [(ngModel)]="password" name="password"/><br/>
    confirm Password:<input type="password" [(ngModel)]="confirmpassword" name="confirmpassword"/><br/>
    Gender:<input type="radio" [(ngModel)]="gender" name="gender" value="M">Male
          <input type="radio" [(ngModel)]="gender" name="gender" value="F">Female<br/>
    Country:<select [(ngModel)]="country">
      <option>-select-</option>
      <option>India</option>
      <option>US</option>
      <option>-UK</option>
      <option>Australia</option>
    </select>
    <br/>
    

    <input type="Submit" value="Register"(click)="btnClick()"/>


    {{msg}}
  </form>
</div>